{% extends "layout.html" %}

{% block content%}
<h1>info de la pagina, aunque no tiene nada de info</h1>
<img src ="https://www.google.com/imgres?imgurl=https%3A%2F%2Fpreview.redd.it%2Flzke6ee84rq21.png%3Fauto%3Dwebp%26s%3Dd5658acaaa09e457545789ab3a25db38d2dce48c&imgrefurl=https%3A%2F%2Fwww.reddit.com%2Fr%2FRodSquare%2Fcomments%2Fbabqx1%2Fhola_me_llamo_lucas_castel_pero_me_dicen_lucas%2F&tbnid=7d-dkW9C8YDvjM&vet=12ahUKEwjZj6L7qv_xAhW6N7kGHZ8KCesQMygBegQIARAh..i&docid=mzHYWz91N1FKTM&w=204&h=162&q=lucas%20castel%20con%20rulos&client=opera-gx&ved=2ahUKEwjZj6L7qv_xAhW6N7kGHZ8KCesQMygBegQIARAh" alt= "entra a el link de la imagen" height="200" width="500">


{% endblock %}
