{% extends "layout.html" %}

{% block content %}

<h1>La pagina de santi <span class="badge bg-secondary">XD</span></h1>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Que onda!</h4>
    <p>Mira mi hermosa pagina,¿se ve linda no?, pura dedicacion y esfuerzo jejeje</p>
    <hr>
    <p class="mb-0">NASHEEEE</p>
  </div>
  <div class="spinner-grow" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <img src = "https://www.youtube.com/watch?v=rX7XZLcGAxw" alt= "clickeen aqui para mas informacion">
{% endblock %}
